/* メイン */
#main {
  margin-top: 80px;
  font-family: "Marck Script", cursive;
  flex: 1;
  position: relative;
  z-index: 2;
  text-align: center;
  color: black;
  padding: 100px 20px;
}

.shadow h1 {
  font-size: 60px;
}

.shadow h2 {
  font-size: 30px;
}

.profile {
  margin-top: 80px;
}

.profile h1 {
  color: black;
}