#title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  max-width: 1500px;
  margin: 80px auto;
  padding: 60px 10px;
  flex-wrap: wrap; /* モバイル対応 */
}

.text {
  color: white;
  flex: 1;
  min-width: 300px;
}

.text h1 {
  font-size: 60px;
  margin: 0 0 10px;
  font-family: "Kanit", sans-serif;
}

.text h2 {
  font-size: 30px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  line-height: 1.4;
  margin: 0;
}

.image {
  flex: 1;
  min-width: 100px;
  text-align: right;
}

.image img {
  max-width: 80%;
  height: auto;
  border-radius: 12px;
}

#detail {
  text-align: center;
  padding: 60px 20px;
  background-color: rgba(0, 0, 0, 0.5); /* ← ここが追加 */
}

#detail h1 {
  font-size: 36px;
  margin-bottom: 40px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  color: white;
}

.feature-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 250px;
}

.feature-box {
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.feature-box img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.feature-box h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  color: white;
}

.feature-box p {
  text-align: left;
  font-size: 14px;
  line-height: 1.2;
  color: white;
}

.links {
  text-align: left;
  margin-top: 100px;
  margin-left: 100px;
  color: rgba(255, 255, 255 ,0.5);
}

.links a {
  font-size: 24px;
  margin-right: 40px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  text-decoration: none;
  color: rgba(255, 255, 255 ,0.8);
}

.links a:hover {
  text-decoration: underline;
}

.links p {
  margin-top:30px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  color: rgba(255, 255, 255 0.5);
}
