#main {
  font-family: "Zen Kaku Gothic Antique", "Marck Script", cursive;
  padding: 80px 20px;
  color: #333333;
  background-color: #fdfdfd;
  opacity: 1; /* 表示 */
  transition: opacity 1.5s ease;
}

h1#terms-title {
  font-size: 2em;
  color: #007bff;
  margin-bottom: 30px;
}

section {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background-color: black;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

h2 {
  font-size: 1.25em;
  margin-top: 2em;
  color: #007bff;
  text-align: left;
}

p {
  text-align: left;
  white-space: pre-line; /* 改行反映 */
  line-height: 1.7;
  margin-top: 0.5em;
}
