/* リセット & レイアウトベース */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

/* ローディング画面 */
#loader {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.logo {
  width: 200px;
  height: 200px;
}

.logos img {
  height: 50px; /* 必要に応じて調整 */
}

/* SVGアニメーション */
#sen {
  fill: none;
  stroke: black;
  stroke-width: 16;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: draw 4s ease forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* 背景画像 */
#background {
  position: fixed;
  inset: 0;
  background-image: url("https://cdn.glitch.global/06a5f290-5f65-48fc-a309-53b050492d6c/VRChat_2025-05-25_22-35-45.051_3840x2160.png?v=1751694682191");
  filter: brightness(80%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s ease;
}

/* ヘッダー */
header {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: "Marck Script", cursive;
  font-size: 20px;
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* メイン */
#main {
  font-family: "Marck Script", cursive;
  flex: 1;
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  padding: 100px 20px;
  opacity: 0;
  transition: opacity 1.5s ease;
}

.shadow h1 {
  font-size: 60px;
}

.shadow h2 {
  font-size: 30px;
}

.shadow {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

.Notfound {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  max-width: 1250px;
  margin: 50px auto 0;
  padding: 0 10px;
  align-items: center;
  gap: 20px;
}

/* フッター */
footer {
  font-family: "Marck Script", cursive;
  display: flex;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  padding: 20px 0;
}
