footer {
  font-family: "Kanit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  background: rgba(50, 50, 50, 1);
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer .march7th {
  margin-bottom: 15px;
}

footer .march7th .links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

footer .march7th a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer .march7th a:hover {
  text-decoration: underline;
}

footer .march7th p {
  text-align: left;
  color: rgba(235, 235, 235, 0.5);
  font-size: 13px;
  margin: 0;
  line-height: 0.8;
  white-space: pre-line;
  margin-bottom: 5px;
}

footer .container p {
  font-size: 14px;
  margin: 0;
}
