/* フッター */
footer {
  font-family: "Marck Script", cursive;
  display: flex;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  padding: 20px 0;
}
