/* ヘッダー */
header {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: "Marck Script", cursive;
  font-size: 20px;
  padding: 20px 0;
  position: fixed; /* ← fixedに変更 */
  top: 0; /* 画面最上部に固定 */
  left: 0;
  width: 100%;
  z-index: 10; /* 重なり順を上に */
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logos img {
  height: 50px; /* 必要に応じて調整 */
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}
